<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Discovar admin</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
  .form-control {
    margin-bottom: 10px;
  }
  .btn-danger {
    margin-top: 8px;
  }

  .form-group{
    margin-left: 24px;
  }

  .form-horizontal .form-group{
    margin-top: 15px;
  }


  </style>


</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> DiscovAR admin</a>
    </div>
  </nav>
  <div class="container" id="events">
        <div class="col-sm-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Update Password</h3>
            </div>
            <div class="panel-body">

            <!-- PW section -->
            <form method="POST" action="/pwUpdate" enctype="multipart/form-data">
              <div>
                <input class="form-control" placeholder="Temporary User Name" v-model="event.title">
                <input type="text" name="pwUpload" class="form-control" placeholder="Password" v-model="event.detail"></input>
                <input type="date" class="form-control" placeholder="Date" v-model="event.date">
                <button class="btn btn-primary" v-on:click="addEvent">Update</button>
              </div>
            </form>

            </div>

            <div class="panel-heading">
              <h3>Room Schedules</h3>
            </div>
            <!-- Room 50 -->
            <form id='upload-form' class="form-horizontal" method="POST" action="/uploads" enctype="multipart/form-data">
                <div class="form-group form-groupAlign">
                    <label class="col-sm-3 control-label">Room 50</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" placeholder="Required" name="imageUpload">
                        <input type="hidden" name="uni" value="UNIQUE VALUE FOR YOUR TARGET ">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span id = "status"></span>
                    </div>
                </div>
            </form>
            <!-- Room 15 -->
            <form id='upload-form' class="form-horizontal" method="POST" action="/uploads" enctype="multipart/form-data">
                <div class="form-group form-groupAlign">
                    <label class="col-sm-3 control-label">Room 15</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" placeholder="Required" name="imageUpload">
                        <input type="hidden" name="uni" value="UNIQUE VALUE FOR YOUR TARGET">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span id = "status"></span>
                    </div>
                </div>
            </form>
            <!-- Meeting 20 -->
            <form id='upload-form' class="form-horizontal" method="POST" action="/uploads" enctype="multipart/form-data">
                <div class="form-group form-groupAlign">
                    <label class="col-sm-3 control-label">Room 20</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" placeholder="Required" name="imageUpload">
                        <input type="hidden" name="uni" value="UNIQUE VALUE FOR YOUR TARGET">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span id = "status"></span>
                    </div>
                </div>
            </form>
            <!-- Meeting Room -->
            <form id="upload-form" class="form-horizontal" method="POST" action="/uploads" enctype="multipart/form-data">
                <div class="form-group form-groupAlign">
                    <label class="col-sm-3 control-label">Meeting Room </label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" placeholder="Required" name="imageUpload">
                        <input type="hidden" name="uni" value="UNIQUE VALUE FOR YOUR TARGET">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span id = "status"></span>
                    </div>
                </div>
            </form>
            <!-- Conference Room -->
            <form id='upload-form' class="form-horizontal" method="POST" action="/uploads" enctype="multipart/form-data">
                <div class="form-group form-groupAlign">
                    <label class="col-sm-3 control-label">Conference Room</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" placeholder="Required" name="imageUpload">
                        <input type="hidden" name="uni" value="UNIQUE VALUE FOR YOUR TARGET">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <span id = "status"></span>
                    </div>
                </div>
            </form>
            
            
          </div>
        </div>

        <div class="col-sm-5">
          <div class="list-group">
            <a href="#" class="list-group-item" v-for="(event, index) in events">
              <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-bullhorn"></i> {{ event.title }}</h4>
              <h5><i class="glyphicon glyphicon-calendar" v-if="event.date"></i> {{ event.date }}</h5>
              <p class="list-group-item-text" v-if="event.detail">{{ event.detail }}</p>
              <button class="btn btn-xs btn-danger" v-on:click="deleteEvent(index)">Delete</button>
            </a>
          </div>
        </div>
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<!-- <script>
  $(document).ready(function() {

     $('#upload-form').submit(function() {
        $("#status").empty().text("File is uploading...");
        $(this).ajaxSubmit({

          error: function(xhr) {
            status('Error: ' + xhr.status);
          },

          success: function(response) {
            $("#status").empty().text("Success!");
              // console.log(response);
          }
    });
        //Very important line, it disable the page refresh.
    return false;
    });    
});
</script> -->


</body>

<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="app.js"></script>
</html>